asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
backports.zoneinfo @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_29zz4uumbw/croots/recipe/backports.zoneinfo_1661287541232/work
cx-Oracle @ file:///C:/ci/cx_oracle_1638453208375/work
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
django-admin-logs==1.0.2
django-crispy-forms==1.14.0
django-debug-toolbar @ file:///home/conda/feedstock_root/build_artifacts/django-debug-toolbar_1664196658568/work
django-jazzmin==2.6.0
et-xmlfile==1.1.0
openpyxl==3.0.10
Pillow==9.0.1
psycopg2 @ file:///C:/b/abs_6cdgqr8yu7/croot/psycopg2_1666817457048/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tzdata @ file:///tmp/build/80754af9/python-tzdata_1611693927741/work
wfastcgi==3.0.0
