<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
		    <remove name="Django_RHD" />	
            <add name="Django_RHD" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\RMO\Miniconda3\envs\django_env\python.exe|C:\Users\RMO\Miniconda3\envs\django_env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        
    </system.webServer>
	
	<appSettings>
		<!-- Required settings -->
		<add key="PYTHONPATH" value="F:\RHD003\django_demo\starterkit" />
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="DJANGO_SETTINGS_MODULE" value="mowrknowledgerepo.settings" />

		<!-- <add key="WSGI_LOG" value="D:\Projects\MWR003\WebApp\mowrknowledgerepo\app_web_log.log" />
		<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
		<add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
		<add key="DJANGO_SETTINGS_MODULE" value="mowrknowledgerepo.settings" />
		<add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
		<add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" /> -->
	</appSettings>
</configuration>
